[mysqld]
# Basic paths
basedir=/home/wuy/DB/ShannonBase/cmake_build
datadir=/home/wuy/DB/ShannonBase/db/data
port=3307
socket=/tmp/mysql.sock

# Minimal configuration to get MySQL running
innodb_buffer_pool_size=256M

# Fix MySQL X Plugin socket
mysqlx_socket=/tmp/mysqlx.sock

# Enable local infile
local_infile=1

[mysql]
port=3307
socket=/tmp/mysql.sock
